@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif ;
}

.button {
  background: transparent;
  background-color: #007BFF ; 
  box-shadow: none ;
  outline: none ;
  border: none ;
  color: white ;
  border-radius: 2px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  width: 130px;
  height: 40px;
  outline: none;
}

.button:hover {
  background: #0056b3; 
}

input,
textarea {
  box-shadow: none ;
  outline: none ;
  border: 1px solid #3498db ; 
}

input:focus,
textarea:focus {
  outline: none ;
  box-shadow: none ;
  border: 1px solid #007BFF ; 
}

.ant-spin {
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.ant-btn-dashed {
  background: white ;
  color: black ;
  border: 1px dashed #3498db ; 
  width: 200px ;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #3498db; 
}

.back-btn {
  background-color: white ;
  color: black ;
  border: 1px solid black ;
}
